.header-container {
  background-color: #4b0082;
  color: white;
  padding: 1rem;
  text-align: left;
}

.header-title {
  text-align: left;
  margin: 0;
}

.entry-form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 20px;
}

.form-group {
  margin-bottom: 20px;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
}

.form-group input,
.form-group select,
.form-group textarea {
  width: 100%;
  padding: 8px;
  box-sizing: border-box;
}

button[type='submit'] {
  background-color: #4b0082;
  color: white;
  padding: 10px 20px;
  border-radius: 10px;
  cursor: pointer;
  float: right;
}

button[type='submit']:hover {
  background-color: #555;
}

#photo-preview {
  width: 100%;
  max-width: 100%;
  height: auto;
  border: 1px solid #ccc;
}

.entry-item {
  display: flex;
}

.entry-image img {
  width: 80%;
  object-fit: cover;
}

#entries-link {
  color: white;
  text-decoration: none;
  font-size: 25px;
  padding-left: 1rem;
}

.new-entry-button {
  background-color: #4b0082;
  color: white;
  padding: 10px 20px;
  border-radius: 10px;
  cursor: pointer;
}

.entry-content {
  padding-left: 20px;
}

@media (width >= 768px) {
  .entry-item {
    flex-direction: column;
  }

  .entry-image img {
    width: 100%;
    height: auto;
    margin: 0 0 10px;
  }
}
